#spring:
#  datasource:
#    url: jdbc:h2:mem:payflow
#    driver-class-name: org.h2.Driver
#    username: sa
#    password:
#
#  jpa:
#    hibernate:
#      ddl-auto: update
#    show-sql: true
#
#  h2:
#    console:
#      enabled: true
#      path: /h2-console

spring:
  datasource:
    url: jdbc:mysql://localhost:3306/payflow
    username: root
    password: Asdfghjkl@123

    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
logging:
  level:
    org.hibernate.SQL: DEBUG

